@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik-Italic-VariableFont_wght-DOUMhBfb.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "main";
  src: url("/fonts/MainFont.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
